<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Winning Log :: Projects</title>
    <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class = "container">
    <div class="form-row mt-1">
        <div class="col text-left">
            <form th:action="@{/log/teamleader}"><button type="submit" class="btn btn-outline-primary"><- back</button></form>
        </div>
        <div class="col text-right">
            <h1 class="display-4" > Add Project </h1>
        </div>
        <div class="col text-right">
            <form th:action="@{/logout}" style="text-align: end"><button type="submit" class="btn btn-outline-primary">logout</button></form>
        </div>
    </div>
    <div class="row" style="margin-top: 5%">
        <div th:if="${errorMessage != null}">
            <h1 class="error text-danger" th:text="${errorMessage}"></h1>
        </div>
    </div>
    <div class = "row justify-content-center">
        <form action="/project/create/add" th:method="get" class="text-center">
            <div class="mb-3 text-center">
                <label for="customer" class="form-label">Customer</label>
                <input type="text" name="customer" class="form-control" id="customer" aria-describedby="emailHelp" th:value="${projectModel.getCustomer()}" required>
            </div>
            <div class="mb-3 text-center">
                <label for="projectName" class="form-label">Project Name</label>
                <input type="text" name="projectName" class="form-control" id="projectName" th:value="${projectModel.getProjectName()}" required>
            </div>
            <button type="submit" class="btn btn-primary ">Add Project</button>
        </form>

    </div>
</div>
</body>
</html>