<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Winning Log :: Log</title>
    <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class = "container" >
    <div class = "row-12 justify-content-center">
        <div class="form-row mt-1">
            <div class="col-1 text-left">
            </div>
            <div class="col-9 ">
                <div class="form-row mt-2 justify-content-center">
                    <div class="col-auto text-center">
                        <form th:action="@{/log/nextDate}">
                            <button th:name="monthBack" type="submit" class="btn btn-secondary">
                                <h1><</h1>
                            </button>
                            <input type="hidden" th:name="next" th:value="'back'">
                            <input type="hidden" th:name="month" th:value="${month}">
                            <input type="hidden" th:name="year" th:value="${year}">
                        </form>
                    </div>
                    <div class="col-auto text-center">
                        <h1 class="display-4" th:text="${month} + ' ' + ${year}"> </h1>
                    </div>
                    <div class="col-auto text-center">
                        <form th:action="@{/log/nextDate}">
                            <button th:name="monthNext" type="submit" class="btn btn-secondary">
                                <h1>></h1>
                            </button>
                            <input type="hidden" th:name="next" th:value="'next'">
                            <input type="hidden" th:name="month" th:value="${month}">
                            <input type="hidden" th:name="year" th:value="${year}">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-2 text-center">
                <form th:action="@{/logout}" style="text-align: end"><button type="submit" class="col btn btn-outline-primary">logout</button></form>
                <a href="/user/changepassword">Change password</a>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 5%">
        <div th:if="${successMessage != null}" class="col text-center">
            <h1 class="error text-success" th:text="${successMessage}"></h1>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col" style="width: 10%">Datum</th>
                <th scope="col" style="width: 10%">Project</th>
                <th scope="col" style="width: 5%">Gebaude</th>
                <th scope="col" style="width: 15%">Niveau</th>
                <th scope="col" style="width: 15%">Plan Type</th>
                <th scope="col" style="width: 30%">Plan Name</th>
                <th scope="col" style="width: 10%">Index</th>
                <th scope="col" style="width: 15%">Arbeitsart</th>
                <th scope="col" style="width: 5%">Stunden</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr >
                <form action="/log/create" th:method="get">
                    <input th:name="remake" th:value="${remake}" hidden>
                    <input th:name="entityId" th:value="${lastEntity.id}" hidden>
                    <td >
                        <input type="date" id="datum" name="datum" class="form-control" th:value="${lastEntity.getDate()}" required>
    <!--                    <input type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01" max="2018-12-31">-->
                    </td>
                    <td class="pr-1 pl-1">
                        <select class="form-control pr-1 pl-1" th:name="project" required>
                            <option th:if="${lastEntity.project != null}" th:text="${lastEntityName}" th:value="${lastEntity.project.getId()}"></option>
                            <option th:each="project : ${projects}" th:text="${project.getCustomerPlusName()}" th:value="${project.getId()}"></option>
                        </select>
                    </td>
                    <td class="pr-1 pl-1">
                        <input type="text" name="gebaude" class="form-control pr-1 pl-1" id="gebaude" th:value="${lastEntity.gebaude}">
                    </td>
                    <td class="pr-1 pl-1">
                        <select class="form-control pr-1 pl-1" th:name="niveau" th:value="${lastEntity.niveau}" required>
                            <option value="FU">FU</option>
                            <option value="2.UG">2.UG</option>
                            <option value="1.UG">1.UG</option>
                            <option value="EG">EG</option>
                            <option value="1.OG">1.OG</option>
                            <option value="2.OG">2.OG</option>
                            <option value="3.OG">3.OG</option>
                            <option value="4.OG">4.OG</option>
                            <option value="5.OG">5.OG</option>
                            <optgroup label="Other">
                                <option value="10.UG">10.UG</option>
                                <option value="9.UG">9.UG</option>
                                <option value="8.UG">8.UG</option>
                                <option value="7.UG">7.UG</option>
                                <option value="6.UG">6.UG</option>
                                <option value="5.UG">5.UG</option>
                                <option value="4.UG">4.UG</option>
                                <option value="3.UG">3.UG</option>
                                <option value="6.OG">6.OG</option>
                                <option value="7.OG">7.OG</option>
                                <option value="8.OG">8.OG</option>
                                <option value="9.OG">9.OG</option>
                                <option value="10.OG">10.OG</option>
                            </optgroup>
                        </select>
                    </td>
                    <td class="pr-1 pl-1">
                        <select class="form-control pr-1 pl-1" th:name="planType" th:value="${lastEntity.planType}" required>
                            <option th:if="${lastEntity.planType != null}" th:text="${lastEntity.planType}" th:value="${lastEntity.planType}"></option>
                            <option value="BP">BP</option>
                            <option value="SP">SP</option>
                            <option value="PP">PP</option>
                            <option value="Model">Model</option>
                            <option value="SP/BP">SP/BP</option>
                        </select>
                    </td>
                    <td class="pr-1 pl-1">
                        <input type="text" name="planName" class="form-control pr-1 pl-1" id="planName" th:value="${lastEntity.planName}" required>
                    </td>
                    <td class="pr-1 pl-1">
                        <input type="text" name="logIndex" class="form-control pr-1 pl-1" id="logIndex" th:value="${lastEntity.planIndex}" required>
                    </td>
                    <td class="pr-1 pl-1">
                        <select class="form-control pr-1 pl-1" th:name="arbeitsart" required>
                            <option th:if="${lastEntity.arbeitsart != null}" th:text="${lastEntity.arbeitsart}" th:value="${lastEntity.arbeitsart}"></option>
                            <option value="Projekt">Projekt</option>
                            <option value="KorrekturIn">Korrektur INT</option>
                            <option value="KorrekturExtClient">Korrektur EXT - přání</option>
                            <option value="KorrekturExtMistake">Korrektur EXT - chyba</option>
                            <option value="Freigabe">Freigabe</option>
                            <option value="Mehrarbeit">Mehrarbeit</option>
                        </select>
                    </td>
                    <td class="pr-1 pl-1">
                        <input type="number" name="stunden" class="form-control pr-1 pl-1" id="stunden" step="0.25" min="0" th:value="${lastEntity.stunden}" required>
                    </td>
                    <td><button type="submit" class="btn btn-primary">Submit</button></td>
                </form>
                <td><form th:action="@{/log/last}"><button th:name="lastButton" type="submit" class="btn btn-secondary">♻</button></form></td>
            </tr>
            <tr th:each="entity : ${entitys}">
                <td th:text="${entity.getDate()}"></td>
                <td th:text="${entity.getProject().getCustomerPlusName()}"></td>
                <td th:text="${entity.getGebaude()}"></td>
                <td th:text="${entity.getNiveau()}"></td>
                <td th:text="${entity.getPlanType()}"></td>
                <td th:text="${entity.getPlanName()}"></td>
                <td th:text="${entity.getPlanIndex()}"></td>
                <td th:text="${entity.getArbeitsart()}"></td>
                <td th:text="${entity.getStunden()}"></td>
                <td><form th:action="@{/log/edit}"><button th:name="editButton" th:value="${entity.id}" type="submit" class="btn btn-success col-11">Edit</button></form></td>
                <td><form th:action="@{/log/delete}"><button th:name="deleteButton" th:value="${entity.id}" type="submit" class="btn btn-danger col-12">X</button></form></td>
            </tr>
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col" style="text-align: right">Suma:</th>
                <th scope="col" th:text="${hoursSum}"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>