main {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}

p, li {
  font-size: 7.5px;
}

ul {
  margin-left: 0px;
  padding-left: 5%;
  margin-top: 10px;
}

li {
  margin-right: 5%;
	padding: 0px;
	margin: 0px;
}

h5, h6 {
  margin-top: 3px;
  margin-bottom: 3px;
}

h4 {
  font-size: 13px;
  padding-bottom: 5px;
  padding-top: 10px;
}

h5 {
  font-size: 11px;
  padding-top: 5px;
}

h6 {
  font-family: 'Merriweather', serif;
  font-size: 8px;
}

.zahlavi {
  width: 550;
  height: 173px;
  background-image: url(https://raw.githubusercontent.com/green-fox-academy/myfirstapp-syllabus/master/assets/first-website-header.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.textzahlavi {
  position: relative;
  left: 20%;
  top: 90px;
  font-family: 'Abril Fatface', cursive;
}

#h1 {
  margin-top: 0px;
}

#h3 {
  margin-bottom: 0px;
  margin-top: 0px;
}

.obsah {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.obsah div {
  border: 1px solid white;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Josefin Sans', sans-serif;
  color: black;
}

.jedna {
  font-size: 12px;
  margin-left: 5%;
  margin-right: 5%;
}

.jedna li {
  list-style-type: square;
}

.dva {
  background: grey;
}

.apostrof {
  font-size: 40px;
  font-family: 'Abril Fatface', cursive;
  color: white;
  position: absolute;
  margin: 0px;
  margin-left: 10px;
  padding: 0px;
}

.galaxy {
  font-size: 23px;
  font-family: 'Abril Fatface', cursive;
  color: white;
  margin-top: 20px;
  margin-right: 5%;
  margin-left: 7%;
}

.tri {
  margin-left: 5%;
  margin-right: 5%;
}

#cara {
  border-bottom: 2px solid grey;
}
