body {
    display: block;
    width: 70%;
    min-width: 290px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-top: 0;
    height: auto;
    background-color: white;
    
}

h1 {
    margin: 2.5vw;
    width: 60%;
    font-size: 5vw;
    font-family: 'myFont', sans-serif;
    font-weight: bold;
    color: black;
}

h2 {
    margin: 2.5vw;
    font-size: 3vw;
    width: auto;
    font-family: 'myFont', sans-serif;
    color: #4A8574;
}

h3 {
    margin: 2.5vw;
    font-size: 1.5vw;
    width: auto;
    color: black;
    font-family: 'Barlow', sans-serif;
}

a {
    margin: 1.25vw;
    color: #4A8574;
    font-size: 1vw;
    font-family: 'Barlow', sans-serif;
}

@font-face {
  font-family: 'myFont';
  src: url(font/123.otf);
}

.header {
    float: top;
    display: flex;
    position: fixed;
    background: white;
    margin: 0;
    padding: 0;
    height: 4vw;
    min-height: 25px;
    width: 70%;
    min-width: 290px;
    z-index: 1;
}

.header a {
    text-decoration: none;
    padding: 0;
}

.teloo {
    padding-top: max(25px, 3vw);
}

.headerright {
    padding: 0;
    right: 0;
    height: auto;
    border-bottom: 0.2vW solid #4A8574;
    width: 75%;
    min-height: 25px;
}


.headerleft {
    width: 25%;
    padding: 0;
}

.headerright h3 {
    font-size: 1vw;
    margin: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2vW;
    padding: 0;
    text-align: right;
    right: 0;
    color: black;
}

.header img {
    width: 3.65vw;
    min-width: 20px;
    margin-left: 2vw;
    margin-top: 1vw;
    padding: 0;
}

.header img:hover { 
    cursor: default; 
    transform: rotate(360deg); 
    transition: all 0.5s ease-in-out 0s; 
}

.part1 {
    position: relative;
    display: block;
    margin-left: auto;
    width: 90%;
    height: 60vw;
    background-color: white;
    border: 1px solid white;
    background-image: url("img/png/Artboard4@300x.png");
    background-size: 90% 90%;
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 0px;
}

.part2 {
    margin-left: auto;
    width: 95%;
    height: 30vw;
    background: white;
    background-image: url("img/png/Artboard5@300x.png");
    background-size: 25vw;
    background-repeat: no-repeat;
    background-position: 95%;
    border: 1px solid white;

}

.part3 {
    display: flex;
    margin-left: auto;
    width: 95%;
    height: auto;
    background-color: white;
    border: 1px solid white;
}

.part3 img {
    width: 4vw;
    height: 4vw;
    margin-left: 1.25vw;
    margin-top: auto;
    margin-bottom: auto;
}

.part3 img:hover { 
    cursor: default; 
    transform: rotate(360deg); 
    transition: all 0.5s ease-in-out 0s; 
}

.part1div {
    width: 40%;
    position: absolute;
    right: 0;
    bottom: 0;
}

.part1 h1 {
    margin-top: 2.5vw;
}

.part2div {
    width: 55%;
    padding-top: 5vw;
    }

.part31 {
    width: 45%;
    border-radius: 2,5vw;
    margin-top: 1.5vw;
    margin-bottom: 1vw;
    padding-left: 0;
    padding-right: 4vw;
}

.form1 {
    border: 0.1vw DASHED #4A8574;
    border-bottom: none;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    padding-right: 0.35vw;
    height: 80%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #4A8574;
    opacity: #4A8574; /* Firefox */
    padding-left: 1.5vW;
    font-family: 'Barlow', sans-serif;
  }

button {
    width: 100%;
    position: relative;
    z-index: 1;
    height: 20%;
    border-radius: 1vw;
    border: none;
    background-color: #4a8574;
    margin: 0;
    color: white;
    font-size: 2vW;
    font-weight: bold ;
    font-family: 'Barlow', sans-serif;
}

button:hover { 
    cursor: default; 
    transform:scale(1.025); 
    transition: all 0.5s ease-in-out 0s; 
}

.button:active {
    transform: translateY(10px);
  }

.name {
    width: 98%;
    border: none;
    font-size: 1vw;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    height: 20%;
    border-bottom: 0.1vW solid #4A8574;  
}

.blank {
    width: 98%;
    border: none;
    font-size: 1vw;
    height: auto;
    margin-top: 0.5vw;
}

textarea:focus, input:focus {
    color: #4A8574;
    font-family: 'Barlow', sans-serif;
}

textarea, input {
    color: #4A8574;
    font-family: 'Barlow', sans-serif;
    outline: none;
    padding-left: 0.5vw;
}
¨

.part32 {
    flex-direction: column;
    width: 60%;
}

.part32 h2 {
    width: 100%;
}

.kontakty {
    display:flex;
    margin-left: 2.5vw;
    margin-top: 1vW;
}

.kontakty a {
    font-size: 1.5vW;
}

#kontaktyhorni {
    padding-top: 2.5vW;
}

#kontaktydolni {
    padding-bottom: 2.5vw;    
}

.kontakty1 {
    margin-left: 2.5vW;
    margin-top: 1vW;
    margin-bottom: 2.5vW;
    font-size: 1vw;
    font-weight: bold;
}

.bottom {
    display: flex;
    position: relative;
    width: 100%;
    background: white;
    border: none;
    padding-top: 0;
    padding-bottom: 2.5vw;
    background-image: url("img/png/Artboard11@300x.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position-y: bottom;
}

.bottomimg {
    margin-left: 3vw;
    width: 15vw;
    margin-top: 10vw;
    padding-bottom: 0;
}

.bottomimg:hover { 
    cursor: default; 
    transform:scale(1.25); 
    transition: all 0.5s ease-in-out 0s; 
}

.bottomright {
    width: auto;
    text-align: end;
    margin-right: 2.5vw;
    border: none;
    font-size: 1vw;
}

.bottombox {
    position: absolute;
    right: 0;
    bottom: 2vw;
    text-align: end;
    align-content: flex-end;
}

.bottombox img {
    width: 2vw;
    margin: 0;
    padding: 0;
}

.bottombox img:hover { 
    cursor: default; 
    transform: rotate(360deg); 
    transition: all 0.5s ease-in-out 0s; 
}

.bottom a {
    font-size: 1vw;
    margin-bottom: 0;
    text-align: end;
}

.bottomright1 {
    width: 100%;
    height: auto;
    max-height: 5vw;
    text-align: end;
}

.bottomright1 a {
    padding: 0;
    margin: 0;
    padding-right: 2.5vw;
    font-size: 1.5vW;
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    text-align: end;
}